.top {
  height: $top-height;
  background: #79989b url(../../src/img/bg_screen1.jpg) no-repeat 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.top__block{
  height: $top-height*3/4;
}