@import "blocks/const.scss";
@import "blocks/nav.scss";
@import "blocks/top.scss";




body {
  min-width: 1280px;
  padding: 0;
  margin: 0;
  background: $bg-color1;
  -webkit-font-smoothing: antialiased;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: $text-color1;
}
header{
  min-height: $header-height;
}
.top {
  height: $top-height;
  background: #79989b url(../../src/img/bg_screen1.jpg) no-repeat 100%;
  position: relative;
  overflow: hidden;
}
